#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_installman:
	dh_installman debian/darkhttpd.1

override_dh_installchangelogs:
	dh_installchangelogs -k debian/upstream.changelog

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

